.container{
    display: flex;
    .logo{
        .logo_img{
            width:4rem;
            height:4rem;
        }
    .logo_head{
        .Dog{
            width:100px;
            height:300px;
        }
    }

    }
}